<a href="https://colab.research.google.com/github/kauareis26/ap2-2023s2-lab1/blob/main/ExerciciosAula3analised_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**VariÃ¡veis do dataset adult.data.csv:**

age: continuous.

workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.

education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.

marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.

relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

sex: Female, Male.

capital-gain: continuous.

capital-loss: continuous.

hours-per-week: continuous.

native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

salary: >50K,<=50K

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/sample_data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**Qual Ã© a idade mÃ©dia das mulheres?**

In [2]:
women_df = data[data["sex"].str.lower() == "female"]
#calcular a idade mÃ©dia da mulher
average_age_women = women_df["age"].mean()
average_age_women

NameError: name 'data' is not defined

**Qual Ã© a idade mÃ©dia dos homens?**

**Quais sÃ£o a mÃ©dia e o desvio padrÃ£o da idade para aqueles que ganham mais de 50 mil por ano (caracterÃ­stica salarial) e aqueles que ganham menos de 50 mil por ano?**

**Exiba estatÃ­sticas de idade para cada raÃ§a (caracterÃ­stica de raÃ§a) e cada gÃªnero (caracterÃ­stica de sexo). Use groupby() e describe().**

**Encontre a idade mÃ¡xima de homens da raÃ§a Amer-Indian-Eskimo.**

**Qual Ã© o nÃºmero mÃ¡ximo de horas que uma pessoa trabalha por semana (caracterÃ­stica hours-per-week)? Quantas pessoas trabalham esse nÃºmero de horas?**

**Conte o tempo mÃ©dio de trabalho (hours-per-week) para aqueles que ganham pouco e muito (salary) para cada paÃ­s (native-country). Quais serÃ£o esses para o JapÃ£o?**

**FaÃ§a uma conclusÃ£o geral da sua anÃ¡lise:**